.checkbox-wrapper{
    padding: 0 20px;
    label{
        padding: 15px 30px;
        cursor: pointer;
        margin-bottom: 0;
    }
    input{
        position: relative;
        top: 8px;
        float: right;
        right: 15px;
    }
}
input[type=checkbox]{
    height:25px;
    width:25px;
    position: relative;
    cursor: pointer;
}
