.dot {
  border-radius: 20px;
  height: 20px;
  width: 20px;
  border: 2px solid #666;
  background-color: #777;
  display: inline-block;
  margin: auto;
  margin-top: 10px;
}

.dot.dot-blue {
  background-color: #558;
}

.dot.dot-green {
  background-color: #585;
}

.dot.dot-red {
  background-color: #855;
}

.dot.dot-solid {
  border: 2px solid #FFF;
}

.dot.dot-solid.dot-blue {
  background-color: #55F;
}

.dot.dot-solid.dot-green {
  background-color: #5F5;
}

.dot.dot-solid.dot-red {
  background-color: #F55;
}

input[type=checkbox] {
  height: 25px;
  width: 25px;
  position: relative;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0 !important;
  right: 0;
  left: 0;
  width: auto;
  margin: 0;
}

.booking-form .conflict-message {
  color: #FFF;
  background-color: #691010;
  padding: 20px 30px;
  float: right;
}

.booking-form .conflict-message p {
  margin-bottom: 0;
}

.checkbox {
  padding: 0 20px;
}

.checkbox label {
  padding: 15px 30px;
  cursor: pointer;
  margin-bottom: 0;
}

.checkbox input {
  position: relative;
  top: 8px;
  float: right;
  right: 15px;
}

.fc-event-container {
  cursor: pointer;
}

.fc-event {
  max-height: 17px;
  overflow: hidden;
}

.fc-scroller {
  overflow-y: hidden !important;
  min-height: 360px;
}

.quick-links a {
  margin-top: 10px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlc291cmNlcy9hc3NldHMvc2Fzcy9hcHAuc2NzcyIsInJlc291cmNlcy9hc3NldHMvc2Fzcy9fdmFyaWFibGVzLnNjc3MiLCJyZXNvdXJjZXMvYXNzZXRzL3Nhc3MvX2VsZW1lbnRzLnNjc3MiLCJyZXNvdXJjZXMvYXNzZXRzL3Nhc3MvX2Jvb2tpbmctZm9ybS5zY3NzIiwicmVzb3VyY2VzL2Fzc2V0cy9zYXNzL19jYWxlbmRhci5zY3NzIiwicmVzb3VyY2VzL2Fzc2V0cy9zYXNzL19oZWxsby5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIlxuLy8gVmFyaWFibGVzXG5AaW1wb3J0IFwidmFyaWFibGVzXCI7XG5AaW1wb3J0IFwiZWxlbWVudHNcIjtcbkBpbXBvcnQgXCJib29raW5nLWZvcm1cIjtcbkBpbXBvcnQgXCJjYWxlbmRhclwiO1xuQGltcG9ydCBcImhlbGxvXCI7XG4iLCJcbi8vIEJvZHlcbiRib2R5LWJnOiAjZjVmOGZhO1xuXG4vLyBCb3JkZXJzXG4kbGFyYXZlbC1ib3JkZXItY29sb3I6IGRhcmtlbigkYm9keS1iZywgMTAlKTtcbiRsaXN0LWdyb3VwLWJvcmRlcjogJGxhcmF2ZWwtYm9yZGVyLWNvbG9yO1xuJG5hdmJhci1kZWZhdWx0LWJvcmRlcjogJGxhcmF2ZWwtYm9yZGVyLWNvbG9yO1xuJHBhbmVsLWRlZmF1bHQtYm9yZGVyOiAkbGFyYXZlbC1ib3JkZXItY29sb3I7XG4kcGFuZWwtaW5uZXItYm9yZGVyOiAkbGFyYXZlbC1ib3JkZXItY29sb3I7XG5cbi8vIEJyYW5kc1xuJGJyYW5kLXByaW1hcnk6ICMzMDk3RDE7XG4kYnJhbmQtaW5mbzogIzhlYjRjYjtcbiRicmFuZC1zdWNjZXNzOiAjMmFiMjdiO1xuJGJyYW5kLXdhcm5pbmc6ICNjYmI5NTY7XG4kYnJhbmQtZGFuZ2VyOiAjYmY1MzI5O1xuXG4vLyBUeXBvZ3JhcGh5XG4kaWNvbi1mb250LXBhdGg6IFwifmJvb3RzdHJhcC1zYXNzL2Fzc2V0cy9mb250cy9ib290c3RyYXAvXCI7XG4kZm9udC1mYW1pbHktc2Fucy1zZXJpZjogXCJSYWxld2F5XCIsIHNhbnMtc2VyaWY7XG4kZm9udC1zaXplLWJhc2U6IDE0cHg7XG4kbGluZS1oZWlnaHQtYmFzZTogMS42O1xuJHRleHQtY29sb3I6ICM2MzZiNmY7XG5cbi8vIE5hdmJhclxuJG5hdmJhci1kZWZhdWx0LWJnOiAjZmZmO1xuXG4vLyBCdXR0b25zXG4kYnRuLWRlZmF1bHQtY29sb3I6ICR0ZXh0LWNvbG9yO1xuXG4vLyBJbnB1dHNcbiRpbnB1dC1ib3JkZXI6IGxpZ2h0ZW4oJHRleHQtY29sb3IsIDQwJSk7XG4kaW5wdXQtYm9yZGVyLWZvY3VzOiBsaWdodGVuKCRicmFuZC1wcmltYXJ5LCAyNSUpO1xuJGlucHV0LWNvbG9yLXBsYWNlaG9sZGVyOiBsaWdodGVuKCR0ZXh0LWNvbG9yLCAzMCUpO1xuXG4vLyBQYW5lbHNcbiRwYW5lbC1kZWZhdWx0LWhlYWRpbmctYmc6ICNmZmY7XG4iLCIuZG90e1xyXG4gICAgYm9yZGVyLXJhZGl1czogMjBweDtcclxuICAgIGhlaWdodDogMjBweDtcclxuICAgIHdpZHRoOiAyMHB4O1xyXG4gICAgYm9yZGVyOiAycHggc29saWQgIzY2NjtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICM3Nzc7XHJcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgICBtYXJnaW46IGF1dG87XHJcbiAgICBtYXJnaW4tdG9wOiAxMHB4O1xyXG5cclxuICAgICYuZG90LWJsdWV7XHJcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogIzU1ODtcclxuICAgIH1cclxuICAgICYuZG90LWdyZWVue1xyXG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6ICM1ODU7XHJcbiAgICB9XHJcbiAgICAmLmRvdC1yZWR7XHJcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogIzg1NTtcclxuICAgIH1cclxuICAgICYuZG90LXNvbGlke1xyXG4gICAgICAgIGJvcmRlcjogMnB4IHNvbGlkICNGRkY7XHJcbiAgICAgICAgJi5kb3QtYmx1ZXtcclxuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogIzU1RjtcclxuICAgICAgICB9XHJcbiAgICAgICAgJi5kb3QtZ3JlZW57XHJcbiAgICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6ICM1RjU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICYuZG90LXJlZHtcclxuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI0Y1NTtcclxuICAgICAgICB9XHJcbiAgICB9XHJcbn1cclxuaW5wdXRbdHlwZT1jaGVja2JveF17XHJcbiAgICBoZWlnaHQ6MjVweDtcclxuICAgIHdpZHRoOjI1cHg7XHJcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICBjdXJzb3I6IHBvaW50ZXI7XHJcbn1cclxuLm1vZGFsIHtcclxuICAgIHBvc2l0aW9uOiBmaXhlZDtcclxuICAgIHRvcDogMCAhaW1wb3J0YW50O1xyXG4gICAgcmlnaHQ6IDA7XHJcbiAgICBsZWZ0OiAwO1xyXG4gICAgd2lkdGg6IGF1dG87XHJcbiAgICBtYXJnaW46IDA7XHJcbn1cclxuIiwiLmJvb2tpbmctZm9ybXtcclxuXHJcbiAgICAuY29uZmxpY3QtbWVzc2FnZXtcclxuICAgICAgICBjb2xvcjogI0ZGRjtcclxuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjNjkxMDEwO1xyXG4gICAgICAgIHBhZGRpbmc6IDIwcHggMzBweDtcclxuICAgICAgICBmbG9hdDogcmlnaHQ7XHJcbiAgICAgICAgcHtcclxuICAgICAgICAgICAgbWFyZ2luLWJvdHRvbTogMDtcclxuICAgICAgICB9XHJcbiAgICB9XHJcbn1cclxuLmNoZWNrYm94e1xyXG4gICAgcGFkZGluZzogMCAyMHB4O1xyXG4gICAgbGFiZWx7XHJcbiAgICAgICAgcGFkZGluZzogMTVweCAzMHB4O1xyXG4gICAgICAgIGN1cnNvcjogcG9pbnRlcjtcclxuICAgICAgICBtYXJnaW4tYm90dG9tOiAwO1xyXG4gICAgfVxyXG4gICAgaW5wdXR7XHJcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgICAgIHRvcDogOHB4O1xyXG4gICAgICAgIGZsb2F0OiByaWdodDtcclxuICAgICAgICByaWdodDogMTVweDtcclxuICAgIH1cclxufVxyXG4iLCIuZmMtZXZlbnQtY29udGFpbmVye1xyXG4gICAgY3Vyc29yOiBwb2ludGVyO1xyXG59XHJcbi5mYy1ldmVudHtcclxuICAgIG1heC1oZWlnaHQ6IDE3cHg7XHJcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xyXG59XHJcblxyXG4uZmMtc2Nyb2xsZXIge1xyXG4gICBvdmVyZmxvdy15OiBoaWRkZW4gIWltcG9ydGFudDtcclxuICAgbWluLWhlaWdodDozNjBweDtcclxufVxyXG4iLCIucXVpY2stbGlua3N7XHJcbiAgICBhe1xyXG4gICAgICAgIG1hcmdpbi10b3A6MTBweDtcclxuICAgIH1cclxufVxyXG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFFQUEsQUFBQSxJQUFJLENBQUE7RUFDQSxhQUFhLEVBQUUsSUFBSTtFQUNuQixNQUFNLEVBQUUsSUFBSTtFQUNaLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLGNBQWM7RUFDdEIsZ0JBQWdCLEVBQUUsSUFBSTtFQUN0QixPQUFPLEVBQUUsWUFBWTtFQUNyQixNQUFNLEVBQUUsSUFBSTtFQUNaLFVBQVUsRUFBRSxJQUFJO0NBdUJuQjs7QUEvQkQsQUFVSSxJQVZBLEFBVUEsU0FBVSxDQUFBO0VBQ04sZ0JBQWdCLEVBQUUsSUFBSTtDQUN6Qjs7QUFaTCxBQWFJLElBYkEsQUFhQSxVQUFXLENBQUE7RUFDUCxnQkFBZ0IsRUFBRSxJQUFJO0NBQ3pCOztBQWZMLEFBZ0JJLElBaEJBLEFBZ0JBLFFBQVMsQ0FBQTtFQUNMLGdCQUFnQixFQUFFLElBQUk7Q0FDekI7O0FBbEJMLEFBbUJJLElBbkJBLEFBbUJBLFVBQVcsQ0FBQTtFQUNQLE1BQU0sRUFBRSxjQUFjO0NBVXpCOztBQTlCTCxBQXFCUSxJQXJCSixBQW1CQSxVQUFXLEFBRVAsU0FBVSxDQUFBO0VBQ04sZ0JBQWdCLEVBQUUsSUFBSTtDQUN6Qjs7QUF2QlQsQUF3QlEsSUF4QkosQUFtQkEsVUFBVyxBQUtQLFVBQVcsQ0FBQTtFQUNQLGdCQUFnQixFQUFFLElBQUk7Q0FDekI7O0FBMUJULEFBMkJRLElBM0JKLEFBbUJBLFVBQVcsQUFRUCxRQUFTLENBQUE7RUFDTCxnQkFBZ0IsRUFBRSxJQUFJO0NBQ3pCOztBQUdULEFBQUEsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFELFFBQUMsQUFBQSxFQUFjO0VBQ2hCLE1BQU0sRUFBQyxJQUFJO0VBQ1gsS0FBSyxFQUFDLElBQUk7RUFDVixRQUFRLEVBQUUsUUFBUTtFQUNsQixNQUFNLEVBQUUsT0FBTztDQUNsQjs7QUFDRCxBQUFBLE1BQU0sQ0FBQztFQUNILFFBQVEsRUFBRSxLQUFLO0VBQ2YsR0FBRyxFQUFFLFlBQVk7RUFDakIsS0FBSyxFQUFFLENBQUM7RUFDUixJQUFJLEVBQUUsQ0FBQztFQUNQLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLENBQUM7Q0FDWjs7QUM3Q0QsQUFFSSxhQUZTLENBRVQsaUJBQWlCLENBQUE7RUFDYixLQUFLLEVBQUUsSUFBSTtFQUNYLGdCQUFnQixFQUFFLE9BQU87RUFDekIsT0FBTyxFQUFFLFNBQVM7RUFDbEIsS0FBSyxFQUFFLEtBQUs7Q0FJZjs7QUFWTCxBQU9RLGFBUEssQ0FFVCxpQkFBaUIsQ0FLYixDQUFDLENBQUE7RUFDRyxhQUFhLEVBQUUsQ0FBQztDQUNuQjs7QUFHVCxBQUFBLFNBQVMsQ0FBQTtFQUNMLE9BQU8sRUFBRSxNQUFNO0NBWWxCOztBQWJELEFBRUksU0FGSyxDQUVMLEtBQUssQ0FBQTtFQUNELE9BQU8sRUFBRSxTQUFTO0VBQ2xCLE1BQU0sRUFBRSxPQUFPO0VBQ2YsYUFBYSxFQUFFLENBQUM7Q0FDbkI7O0FBTkwsQUFPSSxTQVBLLENBT0wsS0FBSyxDQUFBO0VBQ0QsUUFBUSxFQUFFLFFBQVE7RUFDbEIsR0FBRyxFQUFFLEdBQUc7RUFDUixLQUFLLEVBQUUsS0FBSztFQUNaLEtBQUssRUFBRSxJQUFJO0NBQ2Q7O0FDeEJMLEFBQUEsbUJBQW1CLENBQUE7RUFDZixNQUFNLEVBQUUsT0FBTztDQUNsQjs7QUFDRCxBQUFBLFNBQVMsQ0FBQTtFQUNMLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLFFBQVEsRUFBRSxNQUFNO0NBQ25COztBQUVELEFBQUEsWUFBWSxDQUFDO0VBQ1YsVUFBVSxFQUFFLGlCQUFpQjtFQUM3QixVQUFVLEVBQUMsS0FBSztDQUNsQjs7QUNYRCxBQUNJLFlBRFEsQ0FDUixDQUFDLENBQUE7RUFDRyxVQUFVLEVBQUMsSUFBSTtDQUNsQiJ9 */