.dot{
    border-radius: 20px;
    height: 20px;
    width: 20px;
    border: 2px solid #666;
    background-color: #777;
    display: inline-block;
    margin: auto;
    margin-top: 10px;

    &.dot-blue{
        background-color: #558;
    }
    &.dot-green{
        background-color: #585;
    }
    &.dot-red{
        background-color: #855;
    }
    &.dot-solid{
        border: 2px solid #FFF;
        &.dot-blue{
            background-color: #55F;
        }
        &.dot-green{
            background-color: #5F5;
        }
        &.dot-red{
            background-color: #F55;
        }
    }
}
input[type=checkbox]{
    height:25px;
    width:25px;
    position: relative;
    cursor: pointer;
}
