.booking-form{
    .conflict-message{
        color: #FFF;
        background-color: #691010;
        padding: 20px 30px;
        float: right;
        p{
            margin-bottom: 0;
        }
    }
}
.bookings-filter{
    .btn{
        margin-top: 12px;
    }
}
